* {
  margin: 0;
  padding: 0;
}

.header-container {
  background: #004175;
  margin-bottom: 20px;
  border-color: #89deef;
}

h3 {
  color: white;
  margin: auto;
  position: relative;
  bottom: 25px;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 200px;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 5px;
}

.adopt-a-dog {
  font-weight: 700;
  font-size: 20px;
  font-family: Open Sans;
  margin-bottom: 2%;
  margin-left: 5%;
}

p {
  font-family: Open Sans;
  font-size: 15px;
  margin-left: 5%;
  margin-bottom: 1%;
}

.qualities ul,
.qualities ul li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0.2em;
  color: black;
}
li {
  font-size: 11px;
  background-color: #89deef;
  border-style: solid;
  border-radius: 9px;
  border-color: #89deef;
  font-family: Open Sans;
}

.top-dogs,
.middle-dogs {
  display: flex;
  margin-left: 4%;
  margin-top: 3%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.bottom-dogs {
  margin-left:4%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

img {
  max-width: 500px;
}
.dog {
  display: block;
  width: fit-content;
  margin-left: 1%;
  
}
.dog p {
  margin: 0;
  font-family: Oswald;
  font-weight: 700;
}


.footer-pics {
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.pic {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 40px;
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
}

.donate, .volunteer, .location {
  position: relative;
  text-align: center;
  display: flex;
  color:white;
  font-size: 35px;
  font-weight: 350;
  font-family: Oswald;
  background-color: #A6A9F0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.donate img, .volunteer img, .location img{
  opacity:.5;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

}

.volunteer img {

}

.pic-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}